.distill-site-nav {
  color: #FFFFFF; 
  background-color: #01824F;
  font-size: 20px;
  font-weight: 900;
}

.distill-site-nav a:hover {
  color: #333333;
}

/* Change appearance of headers */
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  color: color: #333333;
}

/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible');

/* Use specific font in the body of the text */
html, body, p {
  
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  line-height: 1.3; 
  font-size: 1.0em;
  color: #333333;
  font-style: normal;
  
}

/* Change the appearance of regular code chunks */
d-article div.sourceCode code, 
d-article pre code {
	font-family: "Fira Mono", monospace;
	color: #000000;
  background-color: #FFFFF0; 
  line-height: 80%;
  font-weight: 400;
	font-size: 1.1rem;
}

/* Change the appearance of in-line code chunks */
code {
  font-family: 'Fira Mono', Monospace;
  color: #000000;
  background-color: #FFFFF0; 
  line-height: 80%;
  font-weight: 400;
  font-size: 1em;
}